@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(130, 124, 236);
  background: -moz-linear-gradient(
    90deg,
    rgba(130, 124, 236, 1) 0%,
    rgba(74, 74, 205, 1) 0%,
    rgba(78, 225, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(130, 124, 236, 1) 0%,
    rgba(74, 74, 205, 1) 0%,
    rgba(78, 225, 255, 1) 100%
  );
  background: linear-gradient(90deg, rgba(130, 124, 236, 1) 0%, rgba(74, 74, 205, 1) 0%, rgba(78, 225, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#827cec",endColorstr="#4ee1ff",GradientType=1);
}
